QWEN_KEY = sk-ws-H.RYLLIYI.blm2.MEUCIBqSwGSXgaRynpV83oMm7Z6WQR8D9QncAgQad7cd5KeGAiEArPMiKkov5Hs4zbTt-QO3w3TjmRhMIOx_a-Bf70hZy9Y
DEEPSEEK_KEY = sk-b24c0d17bea6458a99f8c88b8ac5c705
SERPER_KEY = use your serper key