QWEN_KEY = use your qwen key (used by both search and scraping modules)
DEEPSEEK_KEY = use your deepseek key
SERPER_KEY = use your serper key
BRIGHT_DATA_KEY = use your brightdata API key
ORCHESTRATOR_DB_PATH = orchestrator.db
